<?xml version="1.0"?>
<config>
    <modules>
        <Ofi_Cities>
            <version>0.1.0</version>
        </Ofi_Cities>
    </modules>
    <admin>
        <routers>
            <cities>
                <use>admin</use>
                <args>
                    <module>Ofi_Cities</module>
                    <frontName>Ofi_Cities</frontName>
                </args>
            </cities>
        </routers>
    </admin>
	<frontend>
		<routers>
			<news>
				<use>standard</use>
				<args>
					<module>Ofi_Cities</module>
					<frontName>cities</frontName>
				</args>
			</news>
		</routers>
		<layout>
			<updates>
				<news>
					<file>cities.xml</file>
				</news>
			</updates>
		</layout>
	</frontend>

    <adminhtml>
    	<menu>
	        <ofi_core>
	            <children>
	                <cities translate="title" module="cities">
	                    <title>Cities</title>
	                    <sort_order>15</sort_order>
						<children>
							<items module="cities">
								<title>Manage Cities</title>
								<sort_order>0</sort_order>
								<action>cities/adminhtml_cities</action>
							</items>
						</children>
	                </cities>
	            </children>
	        </ofi_core>
    	</menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
            </resources>
        </acl>
        <layout>
            <updates>
                <cities>
                    <file>cities.xml</file>
                </cities>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <cities>
                <class>Ofi_Cities_Model</class>
                <resourceModel>cities_mysql4</resourceModel>
            </cities>
            <cities_mysql4>
                <class>Ofi_Cities_Model_Mysql4</class>
                <entities>
                    <cities>
						<table>ofi_directory_city</table>
                    </cities>
					<regions>
						<table>directory_country_region</table>
                    </regions>
                </entities>
            </cities_mysql4>
        </models>
        <resources>
            <cities_setup>
                <setup>
                    <module>Ofi_Cities</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cities_setup>
            <cities_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cities_write>
            <cities_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cities_read>
        </resources>
        <helpers>
            <cities>
                <class>Ofi_Cities_Helper</class>
            </cities>
        </helpers>
		<blocks>
            <cities>
                <class>Ofi_Cities_Block</class>
            </cities>
			<customer>
				<rewrite>
					<address_renderer_default>Ofi_Cities_Block_Customer_Address_Renderer_Default</address_renderer_default>
				</rewrite>
			</customer>
        </blocks>
    </global>
</config>
