var/cache/**/*
var/session/**/*
var/session/*
var/log/exception.log
var/log/system.log
var/import/*
var/tmp/*
var/locks/*
var/report/*
var/export/*
media/catalog/product/cache/**/*
media/js/*
media/tmp/*
media/css/*.css
app/etc/local.xml
var/.DS_Store
cron.log
.DS_Store
skin/frontend/mts/default/.DS_Store
app/design/frontend/mts/default/template/.DS_Store
test.xml
media/products/processed/*