<?xml version="1.0"?>
<config>
    <modules>
        <Ofi_Customer>
            <version>0.1.0</version>
        </Ofi_Customer>
    </modules>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <Ofi_Customer before="Mage_Customer">Ofi_Customer</Ofi_Customer>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
</config>