<?xml version="1.0"?>

<config>
	<modules>
		<Itoris_Countdown>
			<version>1.0.4</version>
		</Itoris_Countdown>
	</modules>

	<admin>
		<routers>
			<itoris_countdown>
				<use>admin</use>
				<args>
					<module>Itoris_Countdown</module>
					<frontName>itoris_countdown</frontName>
				</args>
			</itoris_countdown>
		</routers>
	</admin>

	<adminhtml>
		<layout>
			<updates>
				<itoris_countdown>
					<file>itoris_countdown.xml</file>
				</itoris_countdown>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_Countdown>
					<files>
						<default>Itoris_Countdown.csv</default>
					</files>
				</Itoris_Countdown>
			</modules>
		</translate>
	</adminhtml>

	<frontend>
		<routers>
			<itoris_countdown>
				<use>standard</use>
				<args>
					<module>Itoris_Countdown</module>
					<frontName>itoris_countdown</frontName>
				</args>
			</itoris_countdown>
		</routers>
		<layout>
			<updates>
				<itoris_countdown>
					<file>itoris_countdown.xml</file>
				</itoris_countdown>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_Countdown>
					<files>
						<default>Itoris_Countdown.csv</default>
					</files>
				</Itoris_Countdown>
			</modules>
		</translate>
	</frontend>

	<global>
		<blocks>
			<itoris_countdown>
				<class>Itoris_Countdown_Block</class>
			</itoris_countdown>
			<adminhtml>
				<rewrite>
					<catalog_product_edit_tab_inventory>Itoris_Countdown_Block_Admin_Catalog_Product_Tab_Inventory</catalog_product_edit_tab_inventory>
					<cms_block_edit_form>Itoris_Countdown_Block_Admin_Cms_Block_Edit_Form</cms_block_edit_form>
				</rewrite>
			</adminhtml>
		</blocks>
		<models>
			<itoris_countdown>
				<class>Itoris_Countdown_Model</class>
				<resourceModel>itoris_countdown_mysql4</resourceModel>
			</itoris_countdown>
			<itoris_countdown_mysql4>
				<class>Itoris_Countdown_Model_Mysql4</class>
			</itoris_countdown_mysql4>
		</models>
		<helpers>
			<itoris_countdown>
				<class>Itoris_Countdown_Helper</class>
			</itoris_countdown>
		</helpers>
		<resources>
			<itoris_countdown_setup>
				<setup>
					<module>Itoris_Countdown</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</itoris_countdown_setup>

			<itoris_countdown_write>
				<connection>
					<use>core_write</use>
				</connection>
			</itoris_countdown_write>

			<itoris_countdown_read>
				<connection>
					<use>core_read</use>
				</connection>
			</itoris_countdown_read>
		</resources>
		<events>
			<catalog_product_save_after>
				<observers>
					<itoris_countdown_observer>
						<type>singleton</type>
						<class>Itoris_Countdown_Model_Observer</class>
						<method>saveCountdownForProduct</method>
					</itoris_countdown_observer>
				</observers>
			</catalog_product_save_after>
			<catalog_product_load_after>
				<observers>
					<itoris_countdown_observer>
						<type>singleton</type>
						<class>Itoris_Countdown_Model_Observer</class>
						<method>addProductQty</method>
					</itoris_countdown_observer>
				</observers>
			</catalog_product_load_after>
			<model_save_after>
				<observers>
					<itoris_countdown_observer>
						<type>singleton</type>
						<class>Itoris_Countdown_Model_Observer</class>
						<method>saveCms</method>
					</itoris_countdown_observer>
				</observers>
			</model_save_after>
			<model_load_after>
				<observers>
					<itoris_countdown_observer>
						<type>singleton</type>
						<class>Itoris_Countdown_Model_Observer</class>
						<method>loadCms</method>
					</itoris_countdown_observer>
				</observers>
			</model_load_after>
			<controller_front_init_before>
				<observers>
					<itoris_countdown_observer>
						<type>singleton</type>
						<class>Itoris_Countdown_Model_Observer</class>
						<method>showSiteLaunchCountdown</method>
					</itoris_countdown_observer>
				</observers>
			</controller_front_init_before>
		</events>
	</global>
</config>