<?xml version="1.0"?>
<!-- 
/**
 * @category   Ofi
 * @package    Ofi _Flete
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Ofi_Flete>
            <version>0.1.0</version>
        </Ofi_Flete>
    </modules>
    <frontend>
        <routers>
            <flete>
                <use>standard</use>
                <args>
                    <module>Ofi_Flete</module>
                    <frontName>flete</frontName>
                </args>
            </flete>
        </routers>
        <translate>
            <modules>
                <Ofi_Flete>
                    <files>
                        <default>Ofi_flete.csv</default>
                    </files>
                </Ofi_Flete>
            </modules>
        </translate>		
        <layout>
            <updates>
                <flete>
                    <file>flete.xml</file>
                </flete>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<flete>
				<use>admin</use>
				<args>
					<module>Ofi_Flete</module>
					<frontName>flete</frontName>
				</args>
			</flete>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Ofi_Flete>
                    <files>
                        <default>Ofi_flete.csv</default>
                    </files>
                </Ofi_Flete>
            </modules>
        </translate>	
		<menu>
			<ofi>
				<children>
					<flete module="flete">
						<title>Flete</title>
						<sort_order>1</sort_order>
						<action>flete/adminhtml_flete</action>
					</flete>
				</children>
			</ofi>        
		</menu>			
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
     				<children>				
						<ofi>
							<children>
								<flete>
									<title>Flete</title>
									<sort_order>1</sort_order>
								</flete>
							</children>								
						</ofi>
     				</children>					
				</admin>
			</resources>
		</acl>	
		<layout>
			<updates>
				<flete>
					<file>flete.xml</file>
				</flete>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <flete>
                <class>Ofi_Flete_Model</class>
                <resourceModel>flete_mysql4</resourceModel>
            </flete>
            <flete_mysql4>
                <class>Ofi_Flete_Model_Mysql4</class>
                <entities>
                    <flete>
                        <table>ofi_flete</table>
                    </flete>
                </entities>
            </flete_mysql4>
        </models>
        <resources>
            <flete_setup>
                <setup>
                    <module>Ofi_Flete</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </flete_setup>
            <flete_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </flete_write>
            <flete_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </flete_read>
        </resources>
        <blocks>
            <flete>
                <class>Ofi_Flete_Block</class>
            </flete>
        </blocks>
        <helpers>
            <flete>
                <class>Ofi_Flete_Helper</class>
            </flete>
        </helpers>
    </global>
    <default>
		<carriers>
	      <ofi>
	           <active>1</active>
	           <model>flete/carrier_ofi</model>
	        </ofi>
	     </carriers>
	</default>	
</config>